.site-footer {
    display: flex;
    background-color: rgb(245, 242, 238);
    padding: 2rem;
}

.footer-section{
    flex: 1;
    margin: 0 1rem;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
}

.footer-section p {
    margin: 0;
    line-height: 1.5;
    font-size: 0.95rem;
}

@media screen and (max-width: 768px) {
    .site-footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        margin: 1rem 0;
        text-align: center;
    }
    
}