.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 75%;
    font-family: 'Baloo 2', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 8px;
    padding: 16px;
    background-color: #503530;
    color: #efaa9c;
    align-items: center;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);


    /* expanding pet image upon adoption hover experiment  */
    position: relative;
    overflow: hidden;
}
.image-container {
    width: 600px;
    height: 400px;
    overflow: hidden;
   
}

/* .profile-image{
    width: 100%;
} */

.adoption-form {
    
    background-color: #503530;
    color: #efaa9c;
    justify-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding-right: 14px;
    justify-content: center;
    width: 80%;
   
}
.adoption-form-header{
    justify-content: center;
   

}
.adoption-form {

    width: 82%;
}
.adoption-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.adoption-info > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
   width: 50%;

  

}
.adoption-info > div > label {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
    width: 100%;

  

}

.pet-profile-header{
    font-family: 'Baloo 2', sans-serif;
}

@media (max-width: 750px) {
    
    .profile-card {
        width: 80%;


    }
}

@media screen and (max-width: 375px) {
    .profile-details {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .image-container {
        width: 200px;
        height: auto;
    }

    .adoption-info > div {
        flex-direction: column;
    }

    img {
        width : 200px;
    }

}