.header-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgb(245, 242, 238);
    align-items: center;
    justify-content: flex-start;
}

.logo{
   
    margin: -50px;
    padding-left: 10px;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.donate-button {
    padding: 0.25rem;
    margin: 10px;
    font-size: large;
    align-items: center;
    background-color: rgb(241, 238, 233);
    border: 2px solid #503530;
    color: #503530;
    font-family: 'Baloo 2', sans-serif;
}

.donate-button:hover {
    
     background-color: #503530;
    color: #efaa9c;
    cursor: pointer; 
}

#socials {
        position: relative;
        top: -40px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        justify-content: flex-end;
        align-items: end;
}