.header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(169, 208, 243);
    align-items: baseline;
    justify-content: flex-start;
}

.logo{
   
    margin: -50px;
    padding-left: 10px;
}

