.header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(169, 208, 243);
}

.logo {
    grid-column: 1;
}

.title {
    display: flex;
    grid-column: 2;
    margin: 0;
}