.pet-view-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

.pet-card-grid {
    display: flex;
    
    gap: 16px;
}

.pet-header{
    justify-content: center;

}
.pets-search-bar{

}



