input {
    background-color: antiquewhite;
}

.input-field {
    display: flex;
    flex-direction: column ;
    padding : 8px;
}

label {
    text-align: left;
    font-weight: 1000;
}

.form-container {
    display: flex;
    justify-content: space-around;;
}