

body {
    font-family: 'Baloo 2', sans-serif;
    font-size: 14px;
    background-color: #f5c5bb ;
    color:#503530;
    min-height: 100vh;

}

body::after{
    content: "";
    background: url("../../src/assets/images/dog_and_cat_pattern-15.jpg");
    background-attachment: fixed;
    opacity: 0.3;
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

h1 {
    font-family: 'Indie Flower', 'Winky Rough';
    font-size: 2rem;
    font-weight: bolder;
    grid-row: 1;
}

h2 {
    font-family: 'Indie Flower', 'Winky Rough';
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    
       
}

#main-content{
    grid-area: main;
   min-height: 100vh;
    
    
  }

 



#app-header {
    grid-area: header;
    padding: 5px;
}

#app-header a {
    text-decoration: none;
    color: #000;
}

#app-header a:hover {
    color: #000;
    cursor: pointer;
}

#app-header a:visited {
    color: #000;
}

#app-info {
    display: flex;
    align-items: center;
}

.app-logo {
    height: 40px;
    margin-right: 1rem;
}

 /* #app-footer {
    grid-area: footer;
    background-color: #ffffff;
    border-top: #ffffff 1px solid;
    font-size: 75%;
    text-align: center;
    opacity: 0.7;
    padding: 1rem;
}  */
/* #app-footer {
    display: flex;
    justify-content: space-between;
    background-color: #503530;
    color: #efaa9c;
    padding: 2rem 3rem;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
} */
#main-nav {
    grid-area: nav;
    
}

/* Main Nav styles */
.nav-list {
    
    border-right: 1px solid #000;
}

.nav-link a {
    display: block;
    background-color: #efaa9c;
    /* border-bottom: 1px solid rgba(216, 216, 216, 0.7); */
    color: #503530;
    margin: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
}

.nav-link a:hover {
    color: #efaa9c;
    background-color: #503530;
}

a.active {
    background-color: #503530;
    color: #efaa9c;
    font-weight: bolder;
}
/* Icon Button styles */
.icon-button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    padding: 0;
    margin-right: 0.5rem;
}
.icon-button:hover {
    background-color: #503530;
}

.icon-button-inactive {
    color: grey;
}

.pet-cards-display{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.pet-search-bar{
    display: grid;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}

svg.external-link {
    font-size: 0.8rem;
    color: #707070;
    padding-left: 5px;
}

/* Form styles */

form {
    margin-bottom: 1rem;
}

label {
    text-align: right;
    display: inline-block;
    margin-right: 15px;
    width: 150px;
}

input {
    display: inline-block;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    
    
}



.form-control {
    margin-bottom: 1rem;
}

/* Table styles */
table {
    margin-bottom: 2rem;
    padding: 0.5rem;
}

thead {
    margin-bottom: 0.5rem;
}

tbody {
    border: 1px solid rgb(136, 193, 231);
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

tr {
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: rgba(136, 193, 231, 0.3);
}

#petList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

/* #main-footer{
    display: flex;
    justify-content: space-between;
    background-color: #503530;
    color: #efaa9c;
    padding: 2rem 3rem;
    font-family: 'Baloo 2', sans-serif;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
} */

#header-title{
    grid-column: 2;
}

@media (max-width: 580px){
    html{
        flex-direction: column;
    }
}
