.pet-component {
    display: flex;
    flex-direction: column;
    border: 1px solid #efaa9c;;
    border-radius: 8px;
    margin: 8px;
    padding: 16px;
    background-color:#503530;
    max-width: 300px; 

    /* expanding pet image upon adoption hover experiment  */
    position:relative;
    overflow: hidden;
 }
.pet-details {
display: flex;
flex-wrap: wrap;
margin-bottom: 4px;


}
.pet-details p {
    flex: 1 1 50%;
    margin: 4px 0;
    font-size: 0.9em;
    width: 100%;
}
.pet-name{
    display: flex;
    justify-content: center;
    padding: 8px;
margin-bottom: 12px;
position: relative;
z-index: 2;


}
.pet-image{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-top: 12px ;
  margin-bottom: 12px;
  object-fit: cover;
  max-height: fit-content;

  /* expanding pet image upon adoption hover experiment  */
  transition: transform 0.5s ease-in-out;


}

.adopt-button{
  padding-left: 40px;
  margin: 20px;
  position: relative;
  width: 150px;
  height: 60px;
  
  cursor: pointer;
  background: transparent;
  border: none;

   /* expanding pet image upon adoption hover experiment  */
  z-index: 3;
  
  
  
  
  
}
.pet-component:has(.adopt-button:hover) .pet-image {
  transform: scale(2.0);
}
.pet-component:has(.adopt-button:hover) .pet-name {
  background-color: transparent;
}

 

.c1, .c2, .c3, .c4{
  background:#fff;
  height: 30px;
  width: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  position:absolute;
}
.c1{
  left: 0;
  top: 0;
}
.c2{
  right: 0;
  top: 0;
}
.c3{
  left: 0;
  bottom: 0;
}
.c4{
  bottom: 0;
  right: 0;
}
.b1 {
  background:#fff;
  height: 30px;
  width: 120px;
  position:absolute;  
  left: 15px;
  top: 15px;
}
.b2 {
  background-color: #fff;
  position: absolute;
  left: 15px;
  top: 0;
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

/* .dog-name{
    background-color: red;
}
.cat-name {
    background-color: blue;
}
.pet-species{

}
.pet-breed{

}
.pet-sex{

}
.pet-age{

}
.pet-description{

} */

footer {
    display: flex;
    justify-content: center;
    position: relative;
}


/*   <article className={styles.petComponent}>
         <h1>{pet.name}</h1>
        <section className={styles.petDetails}>
         <p>
            <span className= {styles.petSpecies}>{pet.species}</span>
            <span className= {styles.petBreed} >{pet.breed}</span>
         </p>

         <p>
            <span className= {styles.petSex}>{pet.sex}</span>
         </p>
         <p>
            <span className={styles.petAge}>{pet.age}</span>

         </p>
         <p>
            <span className={styles.petDescription}>{pet.description}</span>
         </p>
         </section>

         <img src= {pet.photo}  alt = {pet.name} className={styles.petImage} />  
         
         <footer>
            <button>Adopt Me</button>
         </footer>


        </article>
    )}

</>

)


}
*/