.pet-component {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 8px;
  padding: 16px;
  background-color: #503530;
  max-width: 300px;



  /* expanding pet image upon adoption hover experiment  */
  position: relative;
  overflow: hidden;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);

}

.pet-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
  background-color: #efaa9c;


}

.pet-details p {
  flex: 1 1 50%;
  margin: 4px 0;
  font-size: 0.9em;
  width: 100%;
  background-color: #efaa9c;
  ;
}

.name-container {

  border-radius: 8px;

}

.pet-name {
  display: flex;
  justify-content: center;
  padding: 4px;
  margin-bottom: 12px;
  position: relative;
  z-index: 2;
  background-color: antiquewhite;
  border-radius: 8px;
  border: 2px solid black;
  font-family: 'Baloo 2', sans-serif;
  color: #503530;
  text-transform: capitalize;



}

.image-container {

  padding-top: 8px;
  padding-bottom: 8px;
  align-self: center;
}

.pet-image {
  width: 215px;
  height: 215px;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  object-fit: cover;


  /* expanding pet image upon adoption hover experiment  */
  transition: transform 0.5s ease-in-out;


}




footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#bone-grouper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adopt-button {
  padding-left: 40px;
  margin: 20px;
  position: relative;
  width: 150px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: none;

  /* expanding pet image upon adoption hover experiment  */
  z-index: 3;





}

.pet-component:has(.adopt-button:hover) {
  border: 8px solid #503530;
}

.pet-component:has(.adopt-button:hover) .pet-image {
  transform: scale(2.5);
  border: 8px solid #503530;



}

.pet-component:has(.adopt-button:hover) .pet-name {
  background-color: transparent;
  border: transparent;
  color: #efaa9c;
}



.c1,
.c2,
.c3,
.c4 {
  background: antiquewhite;
  height: 30px;
  width: 30px;
  border: 3px solid #000;
  border-radius: 50%;
  position: absolute;
}

.c1 {
  left: 0;
  top: 0;

}

.c2 {
  right: 0;
  top: 0;
}

.c3 {
  left: 1px;
  bottom: 3px;
}

.c4 {
  bottom: 3px;
  right: 0;
}

.b1 {
  background: antiquewhite;
  height: 30px;
  width: 120px;
  position: absolute;
  left: 15px;
  top: 15px;
  padding: none;

}

.b2 {
  background-color: antiquewhite;
  font-family: 'Baloo 2', sans-serif;
  font-weight: bold;
  position: absolute;
  color: #503530;
  left: 15px;
  top: 0;
  width: 95px;
  height: 30px;
  line-height: 30px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
  margin-left: -2px;
  margin-right: -2px;
}


/* .dog-name{
    background-color: red;
}
.cat-name {
    background-color: blue;
}
.pet-species{

}
.pet-breed{

}
.pet-sex{

}
.pet-age{

}
.pet-description{

} */




/*   <article className={styles.petComponent}>
         <h1>{pet.name}</h1>
        <section className={styles.petDetails}>
         <p>
            <span className= {styles.petSpecies}>{pet.species}</span>
            <span className= {styles.petBreed} >{pet.breed}</span>
         </p>

         <p>
            <span className= {styles.petSex}>{pet.sex}</span>
         </p>
         <p>
            <span className={styles.petAge}>{pet.age}</span>

         </p>
         <p>
            <span className={styles.petDescription}>{pet.description}</span>
         </p>
         </section>

         <img src= {pet.photo}  alt = {pet.name} className={styles.petImage} />  
         
         <footer>
            <button>Adopt Me</button>
         </footer>


        </article>
    )}

</>

)


}
*/