input {
    background-color: antiquewhite;
}
.application-header{
    padding-top: 15px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-field>input {

    border-radius: 8px;
    border: 2px solid #503530;
    padding: 2px;
}

.input-field>textarea {

    border-radius: 8px;
    border: 2px solid #503530;
    padding: 2px;
    background-color: antiquewhite;
}

label {
    text-align: left;
    font-weight: 1000;
}

.form-container {
    display: flex;
    justify-content: space-around;
    
}
.vol-button{
    background-color: antiquewhite;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600;
    border: 2px solid #503530;
    color: #503530;
    padding: 4px;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
}